<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}

<body lang="{{ .Site.Params.lang }}">

<section class="header">
    <div class="container">
        <div class="content">
            {{ if .Site.Params.gravatar }}
              <a href="/"><img class="avatar" src="https://gravatar.com/avatar/{{ .Site.Params.gravatar }}?s=50" /></a>
            {{ else if .Site.Params.avatar }}
              <a href="/"><img class="avatar" src="/{{ .Site.Params.avatar }}" /></a>
            {{ end }}
            <a href="/"><div class="name">{{ .Site.Params.author }}</div></a>
            {{ if .Site.Params.selfIntro }}
              <h3 class="self-intro">{{ .Site.Params.selfIntro }}</h3>
            {{ end }}
            <nav>
                <ul>
                    <a href="/blog/"><li>Blog</li></a>
                    <a href="/about/"><li>About</li></a>
                    <a href="http://twitter.com/deflis"><li>Twitter</li></a>
                </ul>
            </nav>
        </div>
    </div>
</section>

<section class="icons">
    <div class="container">
        <div class="content">

        {{ if .Site.Params.twitter }}
            <a href="{{ .Site.Params.twitter }}" target="_blank"><img class="icon" src="/img/twitter.svg" alt="twitter" /></a>
        {{ end }}

        {{ if .Site.Params.github }}
            <a href="{{ .Site.Params.github }}" target="_blank"><img class="icon" src="/img/github.svg" alt="github" /></a>
        {{ end }}

        {{ if .Site.RSSLink }}
            <a href="{{ .Site.RSSLink }}"><img class="icon" src="/img/rss.svg" alt="rss" /></a>
        {{ end }}
        </div>
    </div>
</section>
